body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.2vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}


ul {
    margin: 0px
}

body > header {
    background-color: #99C68E;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

#frog-gallery {
    margin: 20px auto;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 16px; /* Space between grid items */
    padding: 16px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #99C68E;
    display: flex;
}

img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}